<h1>All recipes</h1>

<%= link_to 'Add Recipe', new_recipe_path %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <h3><%= recipe.name %></h3>
      <p><%= recipe.description %></p>
    </li>
  <% end %>
</ul>
